{% extends "base.html" %}

{%block content %}
<h2>Host Rules - {{ host_name }}</h2>
{% if current %}
<h3>Currently enabled rules</h3>
{% for rule in current %}
    <div class="host_irule">
        <div class="rule_priority">{{rule.priority}}</div>
        <div class="rule_data">
            <div class="rule_description">
            {{ rule.description }}
            </div>
            <div class="rule_metadata">
                <span class="rule_name">Rule name: {{ rule.rule_name }}</span>
                <form class="disable_rule" action="{% url f5_manager.views.disable_rule %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="rule_name" value="{{rule.rule_name}}" />
                    <input type="hidden" name="host_id" value="{{ host_id }}" />
                    <input type="submit" value="Disable Rule"/>
                </form>
            </div>
        </div>
        <br style="clear: both"/>
    </div>
{% endfor %}
{% endif %}

{% if available %}
<h3>Available rules</h3>
{% for rule in available %}
    <div class="available_irule">
        <div class="rule_priority">&nbsp;</div>
        <div class="rule_data">
            <div class="rule_description">
            {{ rule.description }}
            </div>
            <div class="rule_metadata">
                <span class="rule_name">Rule name: {{ rule.rule_name }}</span>
                <form class="enable_rule" action="{% url f5_manager.views.enable_rule %}" method="POST">
                    {% csrf_token %}
                    {% if rule.priority != None %}
                    <input type="hidden" name="priority" value="{{rule.priority}}" />
                    {% endif %}
                    <input type="hidden" name="rule_name" value="{{rule.rule_name}}" />
                    <input type="hidden" name="host_id" value="{{ host_id }}" />
                    <input type="submit" value="Enable Rule"/>
                </form>
            </div>
        </div>
        <br style="clear: both"/>
    </div>
{% endfor %}
{% endif %}

{% if admin %}
Other currently applied rules:
<ul>
{% for rule in admin %}
    <li>
        {{ rule.rule_name }}
        <br />
        {{ rule.description }}
    </li>
{% endfor %}
</ul>
{% endif %}

<div>
<a href="{% url f5_manager.views.create_offline_rule host_id %}">Create new offline page</a> <br />
<a href="{% url f5_manager.views.create_mapping host_id %}">Create new url -> server mapping</a> <br />
<a href="">Create new client certificate requirement</a> <br />
</div>

{% endblock %}
