This is a single host

{% if current %}
Currently enabled rules:
<ul>
{% for rule in current %}
    <li>
        {{ rule.rule_name }}
        <br />
        <form action="{% url f5_manager.views.disable_rule %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="rule_name" value="{{rule.rule_name}}" />
            <input type="hidden" name="host_id" value="{{ host_id }}" />
            <input type="submit" value="Disable Rule"/>
        </form>


        <br />
        {{ rule.description }}
    </li>
{% endfor %}
</ul>
{% endif %}

{% if available %}
Available rules:
<ul>
{% for rule in available %}
    <li>
        {{ rule.rule_name }}
        <br />
        <form action="{% url f5_manager.views.enable_rule %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="rule_name" value="{{rule.rule_name}}" />
            <input type="hidden" name="host_id" value="{{ host_id }}" />
            <input type="submit" value="Enable Rule"/>
        </form>

        <br />
        {{ rule.description }}
    </li>
{% endfor %}
</ul>
{% endif %}

{% if admin %}
Other currently applied rules:
<ul>
{% for rule in admin %}
    <li>
        {{ rule.rule_name }}
        <br />
        {{ rule.description }}
    </li>
{% endfor %}
</ul>
{% endif %}

